
<h2> Articles </h2>

<div class = "btn">
<button class="btn btn-primary text-decoration-none">
<%= link_to "New Article", new_article_path, class: "no-blue"%>
</button>
</div>

<ul>
  <% @articles.each do |article| %>
    <li> <%= link_to article.title, article_path(article) %> </li>
    <p> <%= article.content %> </p>
  <% end %>
</ul>
